.card__heart_active {
  width: 22px;
  height: 19px;
  align-self: center;
  background-image: url(../../../../images/Union.svg);
  opacity: 1;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
}