.popup__button-submit {
  border: 0;
  width: 83.26%;
  height: 50px;
  margin-left: 8.37%;
  margin-top: 4.19%;
  margin-bottom: 8.6%;
  background-image: url(../../../images/Submit_Button.png);
  background-size: cover;
  background-position: center;
}

.popup__button-submit:hover {
  opacity: .6;
}