.text__profile-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin-top: 2%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 930px) {
  .text__profile-subtitle {
    font-size: 17px;
    line-height: 16.94px;
    text-align: center;
  }
}

@media screen and (max-width: 568px) {
  .text__profile-subtitle {
    font-size: 14px;
    line-height: 16.94px;
  }
}